* {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h2 {
    color: slateblue;
  }

  .class-selector {
    /* fz30 */
    font-size: 30px;
    border: 2px dashed firebrick;
  }

  #id-selector {
    font-size: 20px;
    color:darkseagreen;
    background-color:blanchedalmond;
  }

  /* 위는 우선순위순서다 */