.header_inner {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-wrap: nowrap;
}

.header_nav {
  list-style-type: none;
  font-weight: 700;
  font-size: 17px;
}

.bf_li, .nav_li {
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin-left: 1rem;
  line-height: 45px;
  padding-right: 10px;
}

li.bf_li:before {
  content: "|";
  color: rgb(209, 209, 209);
  margin-right: 20px;
}
