main {
    margin-top: 70px;
}

.box_area {
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 160px;
}

.langbox {
    border: 2px solid rgb(161, 171, 177);
    border-radius: 10px;
    width: 550px;
    height: 350px;
}

.langopt {
    margin: 20px;
    font-size: large;
    font-weight: 600;
    color: rgb(86, 108, 121);
    cursor: default;
}

.langtxt {
    margin-left: 20px;
    border: none;
    width: 90%;
    height: 63%;
    resize: none;
    font-size: xx-large;
}

.langtxt:focus {
    outline: none;
}

.translation_area {
    float: right;
    margin-right: 15px;
}

.translation_btn {
    width: 115px;
    height: 45px;
    font-size: large;
    background-color: rgb(0, 162, 255);
    border: none;
    border-radius: 5px;
    color: white;
}

.translation_btn:hover {
    background-color: rgb(31, 159, 233);;
}